@{
    ViewData["Title"] = "Test Page";
}


<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>

<a href="@Url.Action("Test", "Home")" class="btn btn-primary">test</a>

